body{
	font: 80% "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	color: #333333;
	background: #FFFFFF url(images/bg_top.jpg) repeat-x;
	margin: 0px;
	padding: 0px;
}


.menu {
	padding: 1em;
	//margin-right: 1em;
	//margin-left: 1em;
	width: 60em;
}




.here {
	padding: 0.5em 4em 0.5em 4em;
	font-weight: bold;
	color: black;
	background-color: #00ced1;
}

.there {
	padding: 0.5em 4em 0.5em 4em;
        font-weight: black;
	background-color: #FFC6C6;
}


.here a {
	font-family: Times, Century;
	font-size:1.4em;
	font-weight: normal;
	color: black;
	text-decoration: none;
}

.there a {
	font-family: Times, Century;
	font-size:1.4em;
	font-weight: normal;
	color: black;
	text-decoration: none;
}
.language {
	padding: 0.5em 0em 0.5em 2em;
        font-weight: black;
}

.language a {
	font-family: Times, Century;
	font-size:1.4em;
	font-weight: normal;
	color: red;
}





.top_jap {
	font-family: Meiryo, "MS Mincho";
	font-size:1.17em;
	padding-left: 1em;
	padding-top: 1em;
	//margin-right: 1em;
	//margin-left: 1em;
}
.top {
	font-family: Times, Century;
	font-size:1.2em;
	padding-left: 1em;
	padding-top: 1em;
	//margin-right: 1em;
	//margin-left: 1em;
}


.titlebar { background:#FFEA58 }

/* publication—p */
table.pub{font-size:1.3em;line-height:150%;
table-layout:auto; width:53em;
border-collapse: separate; border-spacing:5px}
.publicationclass{
	font-family: Times, Century;
	font-size:1.5em;
	font-weight: normal;
}
.publicationclass_jap{
	font-family: Meiryo, "MS Mincho";
	font-size:1.3em;
	font-weight: normal;
}
.titlefont{
	font-family: Times,Cambria;
	font-size:1.2em;
}
.authorfont{
	font-family: Times,Cambria;
	font-size:1.2em;
	font-style: italic;
}

.cvtable_jap{
	font-family:  Meiryo,"MS Mincho";
	font-size:1.3em;
	font-weight: normal;
	text-align:left;
	width: 58em;
}
.cvtable{
	font-family:  Times,Century;
	font-size:1.7em;
	font-weight: normal;
	text-align:left;
	width:30em;
}
.cvothers_tablejap{
	font-family:  Meiryo,"MS Mincho";
	font-size:1.4em;
	font-weight: normal;
	text-align:left;
	width: 35em;
}
.cvothers_table{
	font-family:   Times,Century;
	font-size:1.7em;
	font-weight: normal;
	text-align:left;
	width: 45em;
}
.seminar_table{ 
	font-family:   Meiryo,"MS Mincho";
	font-size:1.4em;
	font-weight: normal;
	text-align:left;
                td.title { width:40em; } td.contents { width:100em; }
height:30em;
}

div#reseachtitle{
	font-family: Times,Century;
	font-size:1.8em;
	margin-left:10em;
	width: 40em;
	text-align:left;
}
.links_jap{
	font-family: Meiryo,"MS Mincho";
	font-size:1.5em;
	margin-left:10em;
	width: 16em;
	text-align:left;

}
.shell_table_jap{
	font-family: Meiryo,"MS Mincho";
	font-size:1.0em;
	margin-left:10em;
	width: 60em;
	text-align:left;

}
.shell_command{
font-family: Meiryo,"MS Mincho";
	font-size:1.0em;
	margin-left:10em;
	width: 40em;
        margin-bottom : 1em;
	text-align:left;
        background-color:dimgray;
        color : white

}

.links{
	font-family: Times,Century;
	font-size:1.7em;
	margin-left:10em;
	width: 16em;
	text-align:left;

}
.text_jap{
	font-family: Meiryo, "MS Mincho";
	font-size:1.5em;
        margin-left:12em;
        margin-right:12em;
	text-align: left;
}
/* ’†g */
table.contents{font-size:12pt;line-height:140%;
table-layout:auto; width:580px;
border-collapse: separate; border-spacing:5px}

.item { font-weight: bold; }